@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 6rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 3rem;
}

/* HEADER */

header {
    text-align: center;
}

.header__big--light,
.header__big--bold {  /* Title Modifiers */
    display: block;
    font-size: 2.5rem;
    line-height: 1.5;
}

.header__big--light {
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

.header__big--bold{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.header__intro {  /* Intro */
     font-size: 1.6rem;
     font-weight: 400;
     color: hsl(229, 6%, 66%);
     margin-top: 1.5rem;
     line-height: 1.7;
 }


/* CARD */

section {  /* Section style */
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 2.5rem;
}

.supr,
.team,
.karma,
.calc {  /* Card-content style */
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: .9rem;
    box-shadow: 0 .4rem .8rem .2rem rgba(0, 0, 0, 0.2), 
                0 .6rem 2.0rem .1rem rgba(0, 0, 0, 0.19);
}

.supr {  /* Card Top borders */
    border-top: .5rem solid hsl(180, 62%, 55%);
}

.team {
    border-top: .5rem solid hsl(0, 78%, 62%);
}

.karma {
    border-top: .5rem solid hsl(34, 97%, 64%);
}

.calc {
    border-top: .5rem solid hsl(212, 86%, 64%);
}

img,
svg{  /* Icons */
    justify-self: end;
    margin-top: 3rem;
}

div h2 {  /* Header */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.7;
    color: hsl(234, 12%, 34%);
}

div > p {  /* Sub-text*/
    font-size: 1.3rem;
    color: hsl(229, 6%, 66%);
    line-height: 1.7;
}

/* FOOTER */

.attribution {
    font-size: 1.3rem;  
    text-align: center;
    font-weight: bold;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

/* Query for Header Intro */

@media(min-width: 711px) {

    .header__intro--desk {
        display: block;
    }
}
