$root-font-size: 62.5%;
$mobile-font-size: 50%;
$mobile-size: 600px;
$tablet-font-size: 56.25%;
$tablet-size: 900px;
$desktop-font-size: 56.25%;
$desktop-size: 1200px;
$color-secondary: hsl(234, 12%, 34%);
$color-tertiary: hsl(234, 12%, 34%);
$col-primary: hsl(229, 6%, 66%);
$weight-lighter: 200;
$weight-light: 400;
$weight-bold: 600;
$supr-border: 0.5rem solid hsl(180, 62%, 55%);
$team-border: 0.5rem solid hsl(0, 78%, 62%);
$karma-border: 0.5rem solid hsl(34, 97%, 64%);
$calc-border: 0.5rem solid hsl(212, 86%, 64%);
$color-footer: #000;
$color-footer-link: hsl(228, 45%, 44%);
$features-hover: rgb(246, 246, 246);
